*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}
html{
    overflow: hidden;
}
.wrapper{
    margin: 1% 2% 0 2%;
    display: flex;
    flex-direction: row;
    height: 95vh;
}

.wrapper img{
    width: 93%;
    height: 76%;
}

header{
    float: left;
    width: 75%;
}

body h1{
    display: block;
    width: 100vw;
    background-image: linear-gradient(to left, black, rgba(0,0,0,0));
    height: 50px;
    padding: 1%;
    font-size: 40pt;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: right;
    height: 76%;
    width: 25%;    
    margin: 2% 2%;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 300px;
    width: 400px;
    padding: 4.5%;
    background-color: #eee;
    
}
#up{
    grid-column: 2 / 3;
    grid-row: 1;

}

#left{
    grid-column: 1 / 2;
    grid-row: 2;
    
}
#right{
    grid-column: 3 / 3;
    grid-row: 2;
}
#down{
    grid-column: 2 / 3;
    grid-row: 2;

}

.pressed{
    background-color: rgb(28, 218, 37);
}
.lcd{
    margin-bottom: 10%;
    padding: 4.5%;
    background-color: #eee;
}
@media only screen and (max-width: 1400px){
    .wrapper{
        flex-direction: column;
    }
    header{
        width: 95%;
        float: none;
    }
    .content{
        width: 95%;
        float: none;
    }
    .content *{
        
    }

}